@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-size: 16px;
  --color-background: antiquewhite;
  --toggle-background: #131320;
  --color: black;
  --selection-background: burlywood;
}

:root {
  --padding: 5rem;
  --x-pad: 0.4em;
}

body.dark-theme {
  --color-background: #131320;
  --toggle-background: antiquewhite;
  --color: #e0e0e0;
  --selection-background: mediumpurple;
}

::selection {
  background-color: var(--selection-background);
}

html {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  font-family: Merriweather, serif;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.75;
  margin: 0;
}

nav {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  gap: 2em;
  width: calc(100% - 2em);
  padding: 2em 2em 0 0;
}

main {
  background-color: var(--color-background);
  color: var(--color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--padding);
  transition: background 0.4s;
}

main section h1 {
  font-size: 2.5em;
  margin: 0;
}

main section p {
  font-size: 1.5em;
  hyphens: auto;
  transition: opacity 0.4s;
}

img {
  width: clamp(14rem, 10vw, max(10vw, 14rem));
  box-shadow: 20px 5px 50px var(--toggle-background);
  border-radius: 50%;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

footer a svg {
  position: relative;
  top: 4px;
  height: 1.25em;
}

a {
  text-decoration: none;
  color: var(--color);
}

@media (max-width: 1024px) {
  main section h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  main {
    flex-direction: column;
    gap: 4rem;
  }

  main img {
    transform: scale(1.5);
  }
}

@media (max-width: 540px) {
  :root {
    --padding: 2rem;
  }

  body {
    font-size: 0.8rem;
  }

  main section h1 {
    font-size: 2rem;
  }

  main {
    gap: 0rem;
  }

  main img {
    transform: scale(1);
  }

  footer {
    margin: 0 0 1rem 0;
  }
}
